{% extends "pages/base.html" %}
{% block pages_content %}
  <h1>Страница - {{ title }}</h1>
  <p>Страница о для оформления подписки через эмейл - info</p>
  <a href="{% url 'pages:home' %}">На самую главную страницу !</a>

  <hr>

  {% if sent %}
    <div style="padding:10px; border:1px solid #4caf50; margin:12px 0;">
      Спасибо, {{ data.name }}! Вы подписали эмейл {{ data.email }} на подписку
    </div>
  {% endif %}
    
  <form method="post">
    {% csrf_token %}
    <label for="{{ form.email.id_for_label }}">Email</label>
    {{ form.email }}
    {{ form.email.errors }}
    <br>
    <label style="margin-top:10px;" for="{{ form.name.id_for_label }}">Ваше имя</label>
    {{ form.name }}
    {{ form.name.errors }}
    <br>
    <label style="margin-top:10px;" for="{{ form.agree_to_terms.id_for_label }}">согласитесь с условиями</label>
    {{ form.agree_to_terms }}
    {{ form.agree_to_terms.errors }}
    <br>
    <button type="submit">Отправить</button>
  </form>

    {% if form.errors %}
    <div style="padding:10px; border:1px solid #f44336; margin-top:12px;">
      Проверьте поля формы — есть ошибки.
    </div>
  {% endif %}
{% endblock %}